{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "printWidth": 100,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-prisma"]
}
